<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>Dear User use  this token for reseting your password!</h1>
    <h4>"http://localhost:3000/reset/{{token}}"</h4>
    <small>If you have not requested this email, just ignore it!</small>
</body>
</html>